
<script type="text/javascript">
    $(document).ready(function () {
        if (!$.fn.dataTable.isDataTable('#tubeWellTable')) {
            $('#tubeWellTable').DataTable({
                "bJQueryUI": true,
                //"bServerSide": true,
                //"sAjaxSource": "/Tubewells/_TableRecords",
                "scrollX": true,
                "paging": false,
				"searching": false,
                "ordering": false,
                "info": false,
                "columnDefs": [
                    { "className": "dt-center", "targets": "_all" }
                ]
            });
        }
    });
</script>
<table id="tubeWellTable" class="cell-border" style="width:100%; font-size:10px;">
    <thead>
        <tr>
            @*<th>
            Location
        </th>*@
            <th>
                Pump Status
            </th>
            <th>
                Total Working Hours
            </th>
            <th>
                Water Flow (cfs)
            </th>
            <th>
                Pressure (Bar)
            </th>
            <th>
                Chlorine Level
            </th>
            <th>
                Power Factor
            </th>
            <th>
                Vibration Velocity in (mm/s)
            </th>
            <th>
                Average voltage (ln)
            </th>
            <th>
                Voltage Trip
            </th>
            <th>
                Average current (A)
            </th>
            <th>
                Current Trip
            </th>
            <th>
                Frequency (Hz)
            </th>
            <th>
                PKVA
            </th>
            <th>
                PKVAR
            </th>
            <th>
                PKW
            </th>
            @*<th>
            Manual Mode
        </th>
        <th>
            Remote Mode
        </th>
        <th>
            Scheduling Mode
        </th>*@
            <th>
                Mode
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*<td style="font-weight:bolder">
            @ViewBag.Location
        </td>*@
            @if (Convert.ToInt32(ViewBag.PumpStatus) == 1 && Convert.ToInt32(ViewBag.DelTime) < 20)
            {
                <td style="background-image: url(/Images/green_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            else
            {
                <td style="background-image: url(/Images/red_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            <td>
                @ViewBag.TotalWorkingHour
            </td>
            <td>
                @ViewBag.WaterExtracted
            </td>
            <td>
                @ViewBag.Pressure
            </td>
            @if (Convert.ToInt32(ViewBag.ChlorineLevel) > 0)
            {
                <td style="background-image: url(/Images/green_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            else
            {
                <td style="background-image: url(/Images/red_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            <td>
                @ViewBag.PF
            </td>
            <td>
                @ViewBag.vib_ms2
            </td>
            <td>
                @ViewBag.averageVoltage
            </td>
            @if (Convert.ToInt32(ViewBag.VoltageTrip) == 1)
            {
                <td style="background-image: url(/Images/red_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            else
            {
                <td style="background-image: url(/Images/green_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            <td>
                @ViewBag.averageCurrent
            </td>
            @if (Convert.ToInt32(ViewBag.CurrentTrip) == 1)
            {
                <td style="background-image: url(/Images/red_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            else
            {
                <td style="background-image: url(/Images/green_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
            }
            <td>
                @ViewBag.Frequency
            </td>
            <td>
                @ViewBag.PKVA
            </td>
            <td>
                @ViewBag.PKVAR
            </td>
            <td>
                @ViewBag.PKW
            </td>
            @*@if (Convert.ToInt32(ViewBag.Manual) == 1)
        {
            <td style="background-image: url(/Images/green_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
        }
        else
        {
            <td style="background-image: url(/Images/red_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
        }
        @if (Convert.ToInt32(ViewBag.RemoteControl) == 1)
        {
            <td style="background-image: url(/Images/green_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
        }
        else
        {
            <td style="background-image: url(/Images/red_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
        }
        @if (Convert.ToInt32(ViewBag.Scheduling) == 1)
        {
            <td style="background-image: url(/Images/green_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
        }
        else
        {
            <td style="background-image: url(/Images/red_light.png);background-size: 20px;background-repeat: no-repeat;background-position: center;"></td>
        }*@
            @if (Convert.ToInt32(ViewBag.Scheduling) == 1 && Convert.ToInt32(ViewBag.RemoteControl) == 0 && Convert.ToInt32(ViewBag.Manual) == 0)
            {
                <td>SCHEDULIING</td>
            }
            else if (Convert.ToInt32(ViewBag.Scheduling) == 0 && Convert.ToInt32(ViewBag.RemoteControl) == 1 && Convert.ToInt32(ViewBag.Manual) == 0)
            {
                <td>REMOTE</td>
            }
            else
            {
                <td>MANUAL</td>
            }
        </tr>
    </tbody>
</table>