
@{
    ViewBag.Title = "Status Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/custom.css" rel="stylesheet" />
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />
<link href="~/Metronic/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/Metronic/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<link href="~/Metronic/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery.min.js"></script>

<script src="~/Scripts/jquery-ui.js"></script>*@


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="~/Metronic/assets/global/scripts/bootstrap-select.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>*@


<script src="~/Metronic/assets/global/plugins/moment.min.js"></script>
@*<script type="text/javascript" src="~/Metronic/assets/global/scripts/datatable.js"></script>
<script type="text/javascript" src="~/Metronic/assets/global/plugins/datatables/datatables.min.js"></script>*@
@*<script src="~/Metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>*@
<script src="~/Metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<script>
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "formatNumber": function (toFormat) {
                return toFormat.toString().replace(
                    /\B(?=(\d{3})+(?!\d))/g, "'"
                );
            }
        });
    });
</script>
<script type="text/javascript">
    var resN = '@Model.resourceName';
    var df = '@Model.dateFrom';
    var dt = '@Model.dateTo';
    var tf = '@Model.timeFrom';
    var tt = '@Model.timeTo';
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '_EnergyMonitoringReportView',
            cache: false,
            data: { resources: resN, datFrom: df, timFrom: tf, datTo: dt, timTo: tt },
            success: function (result) {
                $('#StatusReportDiv').html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#StatusReportDiv').html("");
            },
            async: true
        });
    });
    //setInterval("$('#DashboardDiagram').load('_DashboardView') ", 2000);
    //var refreshId = setInterval(function () {
    //    var properID = $('#StatusReportDiv').load('_RemoteStatusReportView');
    //    if (properID > 0) {
    //        clearInterval(refreshId);
    //    }
    //}, 10000);
    //},  200000);
</script>

<script>
    $('select').selectpicker();
    $('.select').selectpicker('selectAll');
    $('.select').selectpicker('deselectAll');
</script>
<style>
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100% !important;
    }
</style>

<div class="row">
    <div class="container-fluid">
        <div class="portlet light ">
            <div class="portlet-body">


                <!-- DataTable Row -->

                <div class="row">
                    <div class="container-fluid">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            <div class="tabbable-line boxless tabbable-reversed">
                                <div class="tab-content from-data ">
                                    <div class="tab-pane active">
                                        <div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa icon-settings"></i>
                                                    <span style="font-family:Open Sans,sans-serif;">Energy Monitoring Report</span>
                                                </div>

                                            </div>
                                            @using (Html.BeginForm("EnergyMonitoringReport", "Tubewells"))
                                            {
                                            <div class="portlet-body form">

                                                <div class="form-body" style="background-color: white;">
                                                    <div class="row" style="padding:20px">
                                                        <center>
															<div class="col-md-4">
																<div style = "margin-bottom: 15px">
																	<label style = "margin-top: 1px; font-weight: 400; float:left;">Location Name:</label>
																	@if (ViewBag.SelectedResource != null)
																	{
																		@Html.DropDownList("resource", new MultiSelectList(ViewBag.ResourceList, ViewBag.SelectedResource), new { multiple = "multiple", @class = "selectpicker" })
																	}
																	else
																	{
																		@Html.DropDownList("resource", new MultiSelectList(ViewBag.ResourceList), new { multiple = "multiple", @class = "selectpicker" })
																	}
																</div>
															</div>
															@*<div class="col-md-1">
																<label class="form-control" style="border:0px">From</label>
															</div>*@
															<div class="col-md-2">
																<div style = "margin-bottom: 15px">
																	<label style = "margin-top: 1px; font-weight: 400; float:left;">Start Date:</label>
																	@if (ViewBag.dateFrom != null)
																	{
																		<input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@ViewBag.dateFrom" />
																	}
																	else
																	{
																		<input type="text" class="form-control date-picker" name="dateFrom" id="dateFrom" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" />
																	}
																</div>
															</div>
															<div class="col-md-2">
																<div style = "margin-bottom: 15px">
																	<label style = "margin-top: 1px; font-weight: 400; float:left;">Start Time:</label>
																	@if (ViewBag.timeFrom != null)
																	{
																		string abc = ViewBag.timeFrom.ToString();
																		<select name="timeFrom" id="timeFrom" class="form-control">
																			<option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>12:00 AM</option>
																			<option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
																			<option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
																			<option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
																			<option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
																			<option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
																			<option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
																			<option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
																			<option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
																			<option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
																			<option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
																			<option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
																			<option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
																			<option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
																			<option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
																			<option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
																			<option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
																			<option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
																			<option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
																			<option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
																			<option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
																			<option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
																			<option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
																			<option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
																			<option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
																			<option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
																			<option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
																			<option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
																			<option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
																			<option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
																			<option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
																			<option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
																			<option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
																			<option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
																			<option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
																			<option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
																			<option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
																			<option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
																			<option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
																			<option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
																			<option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
																			<option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
																			<option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
																			<option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
																			<option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
																			<option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
																			<option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
																			<option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
																		</select>
																	}
																	else
																	{
																		<input type="text" name="timeFrom" id="timeFromInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
																		<select name="timeFrom" id="timeFrom" class="form-control">
																			<option selected="selected">12:00 AM</option>
																			<option>12:30 AM</option>
																			<option>1:00 AM</option>
																			<option>1:30 AM</option>
																			<option>2:00 AM</option>
																			<option>2:30 AM</option>
																			<option>3:00 AM</option>
																			<option>3:30 AM</option>
																			<option>4:00 AM</option>
																			<option>4:30 AM</option>
																			<option>5:00 AM</option>
																			<option>5:30 AM</option>
																			<option>6:00 AM</option>
																			<option>6:30 AM</option>
																			<option>7:00 AM</option>
																			<option>7:30 AM</option>
																			<option>8:00 AM</option>
																			<option>8:30 AM</option>
																			<option>9:00 AM</option>
																			<option>9:30 AM</option>
																			<option>10:00 AM</option>
																			<option>10:30 AM</option>
																			<option>11:00 AM</option>
																			<option>11:30 AM</option>
																			<option>12:00 PM</option>
																			<option>12:30 PM</option>
																			<option>1:00 PM</option>
																			<option>1:30 PM</option>
																			<option>2:00 PM</option>
																			<option>2:30 PM</option>
																			<option>3:00 PM</option>
																			<option>3:30 PM</option>
																			<option>4:00 PM</option>
																			<option>4:30 PM</option>
																			<option>5:00 PM</option>
																			<option>5:30 PM</option>
																			<option>6:00 PM</option>
																			<option>6:30 PM</option>
																			<option>7:00 PM</option>
																			<option>7:30 PM</option>
																			<option>8:00 PM</option>
																			<option>8:30 PM</option>
																			<option>9:00 PM</option>
																			<option>9:30 PM</option>
																			<option>10:00 PM</option>
																			<option>10:30 PM</option>
																			<option>11:00 PM</option>
																			<option>11:30 PM</option>
																		</select>
																	}
																</div>
															</div>
															@*<div class="col-md-1">
																<label class="form-control" style="border:0px">To</label>
															</div>*@
															<div class="col-md-2">
																<div style = "margin-bottom: 15px">
																	<label style = "margin-top: 1px; font-weight: 400; float:left;">End Date:</label>
																	@if (ViewBag.dateTo != null)
																	{
																		<input type="text" name="dateTo" id="dateTo" value="@ViewBag.dateTo" class="form-control date-picker" />
																	}
																	else
																	{
																		<input type="text" name="dateTo" id="dateTo" value="@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "Pakistan Standard Time").ToShortDateString()" class="form-control date-picker" />
																	}
																</div>
																
															</div>
															<div class="col-md-2">
																<div style = "margin-bottom: 15px">
																	<label style = "margin-top: 1px; font-weight: 400; float:left;">End Time:</label>
																	@if (ViewBag.timeTo != null)
																	{
																		string abc = ViewBag.timeTo.ToString();
																		<select name="timeTo" id="timeTo" class="form-control">
																			<option value="12:00 AM" @if (abc == "12:00 AM") { <text> selected="selected" </text> }>12:00 AM</option>
																			<option value="12:30 AM" @if (abc == "12:30 AM") { <text> selected="selected" </text> }>12:30 AM</option>
																			<option value="1:00 AM" @if (abc == "1:00 AM") { <text> selected="selected" </text> }>1:00 AM</option>
																			<option value="1:30 AM" @if (abc == "1:30 AM") { <text> selected="selected" </text> }>1:30 AM</option>
																			<option value="2:00 AM" @if (abc == "2:00 AM") { <text> selected="selected" </text> }>2:00 AM</option>
																			<option value="2:30 AM" @if (abc == "2:30 AM") { <text> selected="selected" </text> }>2:30 AM</option>
																			<option value="3:00 AM" @if (abc == "3:00 AM") { <text> selected="selected" </text> }>3:00 AM</option>
																			<option value="3:30 AM" @if (abc == "3:30 AM") { <text> selected="selected" </text> }>3:30 AM</option>
																			<option value="4:00 AM" @if (abc == "4:00 AM") { <text> selected="selected" </text> }>4:00 AM</option>
																			<option value="4:30 AM" @if (abc == "4:30 AM") { <text> selected="selected" </text> }>4:30 AM</option>
																			<option value="5:00 AM" @if (abc == "5:00 AM") { <text> selected="selected" </text> }>5:00 AM</option>
																			<option value="5:30 AM" @if (abc == "5:30 AM") { <text> selected="selected" </text> }>5:30 AM</option>
																			<option value="6:00 AM" @if (abc == "6:00 AM") { <text> selected="selected" </text> }>6:00 AM</option>
																			<option value="6:30 AM" @if (abc == "6:30 AM") { <text> selected="selected" </text> }>6:30 AM</option>
																			<option value="7:00 AM" @if (abc == "7:00 AM") { <text> selected="selected" </text> }>7:00 AM</option>
																			<option value="7:30 AM" @if (abc == "7:30 AM") { <text> selected="selected" </text> }>7:30 AM</option>
																			<option value="8:00 AM" @if (abc == "8:00 AM") { <text> selected="selected" </text> }>8:00 AM</option>
																			<option value="8:30 AM" @if (abc == "8:30 AM") { <text> selected="selected" </text> }>8:30 AM</option>
																			<option value="9:00 AM" @if (abc == "9:00 AM") { <text> selected="selected" </text> }>9:00 AM</option>
																			<option value="9:30 AM" @if (abc == "9:30 AM") { <text> selected="selected" </text> }>9:30 AM</option>
																			<option value="10:00 AM" @if (abc == "10:00 AM") { <text> selected="selected" </text> }>10:00 AM</option>
																			<option value="10:30 AM" @if (abc == "10:30 AM") { <text> selected="selected" </text> }>10:30 AM</option>
																			<option value="11:00 AM" @if (abc == "11:00 AM") { <text> selected="selected" </text> }>11:00 AM</option>
																			<option value="11:30 AM" @if (abc == "11:30 AM") { <text> selected="selected" </text> }>11:30 AM</option>
																			<option value="12:00 PM" @if (abc == "12:00 PM") { <text> selected="selected" </text> }>12:00 PM</option>
																			<option value="12:30 PM" @if (abc == "12:30 PM") { <text> selected="selected" </text> }>12:30 PM</option>
																			<option value="1:00 PM" @if (abc == "1:00 PM") { <text> selected="selected" </text> }>1:00 PM</option>
																			<option value="1:30 PM" @if (abc == "1:30 PM") { <text> selected="selected" </text> }>1:30 PM</option>
																			<option value="2:00 PM" @if (abc == "2:00 PM") { <text> selected="selected" </text> }>2:00 PM</option>
																			<option value="2:30 PM" @if (abc == "2:30 PM") { <text> selected="selected" </text> }>2:30 PM</option>
																			<option value="3:00 PM" @if (abc == "3:00 PM") { <text> selected="selected" </text> }>3:00 PM</option>
																			<option value="3:30 PM" @if (abc == "3:30 PM") { <text> selected="selected" </text> }>3:30 PM</option>
																			<option value="4:00 PM" @if (abc == "4:00 PM") { <text> selected="selected" </text> }>4:00 PM</option>
																			<option value="4:30 PM" @if (abc == "4:30 PM") { <text> selected="selected" </text> }>4:30 PM</option>
																			<option value="5:00 PM" @if (abc == "5:00 PM") { <text> selected="selected" </text> }>5:00 PM</option>
																			<option value="5:30 PM" @if (abc == "5:30 PM") { <text> selected="selected" </text> }>5:30 PM</option>
																			<option value="6:00 PM" @if (abc == "6:00 PM") { <text> selected="selected" </text> }>6:00 PM</option>
																			<option value="6:30 PM" @if (abc == "6:30 PM") { <text> selected="selected" </text> }>6:30 PM</option>
																			<option value="7:00 PM" @if (abc == "7:00 PM") { <text> selected="selected" </text> }>7:00 PM</option>
																			<option value="7:30 PM" @if (abc == "7:30 PM") { <text> selected="selected" </text> }>7:30 PM</option>
																			<option value="8:00 PM" @if (abc == "8:00 PM") { <text> selected="selected" </text> }>8:00 PM</option>
																			<option value="8:30 PM" @if (abc == "8:30 PM") { <text> selected="selected" </text> }>8:30 PM</option>
																			<option value="9:00 PM" @if (abc == "9:00 PM") { <text> selected="selected" </text> }>9:00 PM</option>
																			<option value="9:30 PM" @if (abc == "9:30 PM") { <text> selected="selected" </text> }>9:30 PM</option>
																			<option value="10:00 PM" @if (abc == "10:00 PM") { <text> selected="selected" </text> }>10:00 PM</option>
																			<option value="10:30 PM" @if (abc == "10:30 PM") { <text> selected="selected" </text> }>10:30 PM</option>
																			<option value="11:00 PM" @if (abc == "11:00 PM") { <text> selected="selected" </text> }>11:00 PM</option>
																			<option value="11:30 PM" @if (abc == "11:30 PM") { <text> selected="selected" </text> }>11:30 PM</option>
																		</select>
																	}
																	else
																	{
																		<input type="text" name="timeTo" id="timeToInput" value="@DateTime.Today.ToShortTimeString()" class="span6" style="width:8%;display:none;" />
																		<select name="timeTo" id="timeTo" class="form-control">
																			<option>12:30 AM</option>
																			<option>1:00 AM</option>
																			<option>1:30 AM</option>
																			<option>2:00 AM</option>
																			<option>2:30 AM</option>
																			<option>3:00 AM</option>
																			<option>3:30 AM</option>
																			<option>4:00 AM</option>
																			<option>4:30 AM</option>
																			<option>5:00 AM</option>
																			<option>5:30 AM</option>
																			<option>6:00 AM</option>
																			<option>6:30 AM</option>
																			<option>7:00 AM</option>
																			<option>7:30 AM</option>
																			<option>8:00 AM</option>
																			<option>8:30 AM</option>
																			<option>9:00 AM</option>
																			<option>9:30 AM</option>
																			<option>10:00 AM</option>
																			<option>10:30 AM</option>
																			<option>11:00 AM</option>
																			<option>11:30 AM</option>
																			<option>12:00 PM</option>
																			<option>12:30 PM</option>
																			<option>1:00 PM</option>
																			<option>1:30 PM</option>
																			<option>2:00 PM</option>
																			<option>2:30 PM</option>
																			<option>3:00 PM</option>
																			<option>3:30 PM</option>
																			<option>4:00 PM</option>
																			<option>4:30 PM</option>
																			<option>5:00 PM</option>
																			<option>5:30 PM</option>
																			<option>6:00 PM</option>
																			<option>6:30 PM</option>
																			<option>7:00 PM</option>
																			<option>7:30 PM</option>
																			<option>8:00 PM</option>
																			<option>8:30 PM</option>
																			<option>9:00 PM</option>
																			<option>9:30 PM</option>
																			<option>10:00 PM</option>
																			<option>10:30 PM</option>
																			<option>11:00 PM</option>
																			<option>11:30 PM</option>
																			<option selected="selected">11:59 PM</option>
																		</select>

																	}
																</div>
															</div>
															<div class="col-md-12 ">
																<div class="form-actions right">
																	<button type="submit" id="submit" class="btn btn-danger">
																		Update
																	</button>
																</div>
															</div>
														</center>

                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div id="StatusReportDiv">

                                    <div style="float: right;">
                                        <img src="~/Content/images/loading.gif" style="height: 48px;" />
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@*<section class="scripts">

        <script type="text/javascript">
            window.onload = function () {
                @Html.Raw(ViewData["chartData"])
                chart1.render();
                function toogleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else {
                        e.dataSeries.visible = true;
                    }
                    chart1.render();
                }
            }
        </script>
    </section>*@
