
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>WASA | EMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="~/Metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" />

    <link href="~/Metronic/assets/global/plugins/morris/morris.css" rel="stylesheet" />

    <link href="~/Metronic/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
	<!--<link href="~/Metronic/assets/global/plugins/datatables/buttons.dataTables.min.css" rel="stylesheet" />-->
	

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Metronic/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Metronic/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Metronic/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Metronic/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Customelayout.css" rel="stylesheet" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <style type="text/css">
        /*Added css for design notification area, you can design by your self*/
        /* COPY css content from youtube video description*/
        .noti-content {
            position: absolute;
            right: 0px;
            background-color: lightsteelblue ;
            color: darkslateblue;
            font-size: small;
            font-style: oblique;
            font-family: Arial;
            top: 56px;
            width: 440px;
            display: none;
            border: 1px solid #9E988B;
            border-radius: 8px !important;
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #FFFFFF;
                border-radius: 5px !important;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F5DEB3;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 125px;
            top: -8px;
        }

        span.noti {
            color: cornflowerblue;
            margin: 27px;
            position: absolute;
            right: 100px;
            font-size: 30px;
            cursor: pointer;
        }

        span.count {
            position: relative;
            top: -20px;
            color: red;
            padding: 0px 0px;
            font-size: 20px;
            font-family: monospace;
        }
        /*.noti:hover {
            color:white;
        }*/
    </style>
</head>
<!-- END HEAD -->
@if (string.IsNullOrEmpty(Session["UserName"] as string))
{
    Response.Redirect("~/Account/LogOn");
}
else
{
<body class="page-container-bg-solid" style="background-color:#d9e7f9">

    <div id="opacqueBackground" class="page-wrapper" style="opacity:0.9">
        <div class="page-wrapper-row">
            <div class="page-wrapper-top" f>
                <!-- BEGIN HEADER -->
                <div class="page-header" style="background: linear-gradient(to right, #99ccff 0%, #fcffcc 100%); height: 75px !important; margin: 0px 0px !important;">
                    <!-- BEGIN HEADER TOP -->
                    <div class="page-header-top" style="opacity:0.9; height: 75px !important;">
                        <div class="container">
                            <!-- BEGIN LOGO -->
                            <div class="page-logo" style="margin-top: -31px;">
                                <a href="/Home/Index">
                                    <img src="~/Metronic/assets/img/sticker34_1.png" alt="logo" class="logo-default" style="width:19% !important">
                                </a>
                            </div>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            <a href="javascript:;" class="menu-toggler"></a>
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            @if (Session["UserName"].ToString() != "administrator")
                            {
                                <span style="position: absolute;right: 190px;top: 10px;font-size: 30px;cursor: pointer;width: 50px !important;text-align: center;">
                                    <button img="" onclick="openWatsapp()" style="background-color: transparent;border: 0px !important;margin-top: 0px !important;cursor: pointer;">
                                        <img border="0" alt="whatsapp" src="/Content/images/whatsapp.png" style="width:35px !important;border-radius: 50% !important;">
                                    </button>
                                </span>
                                <span class="noti icon-bell"><span class="count"> </span></span>
                                <div class="noti-content" style="width:fit-content; max-width: 500px; right: 8px !important">
                                    <div class="noti-top-arrow"></div>
                                    <ul id="notiContent"></ul>
                                </div>
                            }
                            <div class="top-menu" @*style="display:none"*@>

                                <ul class="nav navbar-nav pull-right">
                                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                                    <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                                    <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                                    @*<li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <i class="icon-bell"></i>
                                                <span class="badge badge-default">0</span>
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li class="external">
                                                    <h3>
                                                        You have
                                                        <strong> 0 </strong> notifications
                                                    </h3>
                                                </li>
                                            </ul>
                                        </li>*@
                                    <!-- END NOTIFICATION DROPDOWN -->
                                    <!-- BEGIN TODO DROPDOWN -->
                                    <!-- END TODO DROPDOWN -->
                                    <li class="droddown dropdown-separator">
                                        <span class="separator"></span>
                                    </li>
                                    <!-- BEGIN INBOX DROPDOWN -->
                                    <!-- END INBOX DROPDOWN -->
                                    <!-- BEGIN USER LOGIN DROPDOWN -->
                                    <li class="dropdown dropdown-user dropdown-dark">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                                            <span>@Session["UserName"].ToString()</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-default">
                                            <li>
                                                <a href="/Account/ChangePassword">
                                                    <i class="icon-user"></i> Change Password
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Account/LogOff">
                                                    <i class="icon-calendar"></i> Log Out
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    @*<li class="dropdown dropdown-user dropdown-dark">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span>@Session["UserName"].ToString()</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-default">
                                                <li>
                                                    <a href="/Account/ChangePassword">
                                                        <i class="icon-user"></i> Change Password
                                                    </a>
                                                </li>
                                                <li class="divider"> </li>
                                                <li>
                                                    <a href="/Account/LogOff">
                                                        <i class="icon-calendar"></i> Log Out
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>*@
                                    <!-- END USER LOGIN DROPDOWN -->
                                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                    <!-- END QUICK SIDEBAR TOGGLER -->
                                </ul>
                            </div>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END HEADER TOP -->
                    <!-- BEGIN HEADER MENU -->
                    <div class="page-header-menu" style="background:none !important ">
                        <div class="container">
                            <!-- BEGIN HEADER SEARCH BOX -->
                            <!-- END HEADER SEARCH BOX -->
                            <!-- BEGIN MEGA MENU -->
                            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                            <div id="hor-menu" class="hor-menu  row" style="margin-top: -5.5%;    float: left;  padding-left: 60px">
                                <ul class="nav navbar-nav">
                                    @*<li aria-haspopup="true" class="dropdown dropdown-fw dropdown-fw-disabled ">
                                        <a href="/Home/Welcome">
                                            <i class="icon-home"></i> &nbsp; Home
                                        </a>*@
                                    @*<ul class="dropdown-menu pull-left">
                                            <li aria-haspopup="true" class=" ">
                                                <a href="/Home/Welcome" class="nav-link  ">
                                                    <i class="icon-globe-alt"></i> Welcome
                                                </a>
                                            </li>
                                            <li aria-haspopup="true" class=" ">
                                                <a href="/Home/Index" class="nav-link  ">
                                                    <i class="icon-bulb"></i> Dashboard
                                                </a>
                                            </li>
                                        </ul>*@
                                    @*</li>*@
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="/Home/Welcome">
                                            <i class="icon-home"></i> &nbsp; Home
                                        </a>
                                        <ul class="dropdown-menu">


                                            <li aria-haspopup="true" class="  ">
                                                <a href="/Ponding/Dashboard">
                                                    Ponding Dashboard
                                                </a>
                                            </li>
                                            <li aria-haspopup="true" class="  ">
                                                <a href="/Rain/Dashboard">
                                                    Rain Gauge Dashboard
                                                </a>
                                            </li>
                                            <li aria-haspopup="true" class="  ">
                                                <a href="/StorageTank/Dashboard">
                                                    Storm Water Dashboard
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="javascript:;">
                                            <i class="icon-hourglass"></i> &nbsp; Tubewells
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">

                                            @*<li aria-haspopup="true" class="  ">
                                                    <a href="/Tubewells/Dashboard">
                                                        Dashboard
                                                    </a>
                                                </li>*@
                                            <li aria-haspopup="true" class="  ">
                                                <a href="/Tubewells/HMI">
                                                    HMI
                                                </a>
                                            </li>
                                            <li aria-haspopup="true" class="dropdown-submenu ">
                                                <a href="javascript:;" class="nav-link nav-toggle ">
                                                    <i class="icon-briefcase"></i> &nbsp;  Reports
                                                    <span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="/TubeWells/StatusReport"> Status Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/TubeWells/ParameterWiseReport"> Parameter Wise Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/TubeWells/EnergyMonitoringReport"> Energy Monitoring Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/TubeWells/WaterDischargeReport"> Water Discharge Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/TubeWells/RemoteStatusReport"> Mode Status Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/TubeWells/VibrationAnalysisReport"> Vibration Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/TubeWells/ParameterizedData"> Parameterized Chart </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            @if (Session["UserName"].ToString() != "wasalhr")
                                            {
                                                <li aria-haspopup="true" class="  ">
                                                    <a href="/Home/Schedule">
                                                        Tubewell Schedule
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="javascript:;">
                                            <i class="icon-drawer"></i> &nbsp; Disposals/Lift Stations
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">

                                            @*<li aria-haspopup="true" class="  ">
                                                    <a href="/Disposals/Dashboard">
                                                        Dashboard
                                                    </a>
                                                </li>*@
                                            <li aria-haspopup="true" class="  ">
                                                <a href="/Disposals/HMI">
                                                    HMI
                                                </a>
                                            </li>
                                            <li aria-haspopup="true" class="dropdown-submenu ">
                                                <a href="javascript:;" class="nav-link nav-toggle ">
                                                    <i class="icon-briefcase"></i> &nbsp; Reports
                                                    <span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="/Disposals/StatusReport"> Status Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Disposals/PumpsReport"> Pumps Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Disposals/WellReport"> Wells Report </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li aria-haspopup="true" class="  ">
                                                <a id="myLink" title="WhatsApp Disposal Data" href="#" onclick="disposalWatsapp();return false;">
                                                    WhatsApp Disposal Data
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                        <a href="javascript:;">
                                            <i class="icon-star"></i> &nbsp; Recycling Plants
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li aria-haspopup="true" class="dropdown-submenu ">
                                                <a href="javascript:;" class="nav-link nav-toggle ">
                                                    <i class="icon-briefcase"></i> &nbsp; Reports
                                                    <span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="/RecyclingPlant/StatusReport"> Status Report </a>
                                                    </li>
                                                    <li>
                                                        <a href="/RecyclingPlant/PumpReport"> Pumps Report </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    @*<li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;">
                                                <i class="icon-badge"></i> &nbsp; Ponding
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li aria-haspopup="true" class="  ">
                                                    <a href="/Ponding/Dashboard">
                                                        Dashboard
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="dropdown-submenu ">
                                                    <a href="javascript:;" class="nav-link nav-toggle ">
                                                        <i class="icon-briefcase"></i> &nbsp;  Reports
                                                        <span class="arrow"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="/Ponding/PondingReport"> Ponding Report </a>
                                                        </li>
                                                        <li>
                                                            <a href="/Ponding/TimeClearanceReport"> Time Clearance Report </a>
                                                        </li>
                                                        <li>
                                                            <a href="/Ponding/FlowRateReport"> Flow Rate Report </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;">
                                                <i class="icon-badge"></i> &nbsp; Rain Gauges
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">

                                                <li aria-haspopup="true" class="  ">
                                                    <a href="/Rain/Dashboard">
                                                        Dashboard
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="dropdown-submenu ">
                                                    <a href="javascript:;" class="nav-link nav-toggle ">
                                                        <i class="icon-briefcase"></i> &nbsp;  Reports
                                                        <span class="arrow"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="/Rain/IntensityReport"> Intensity Report </a>
                                                        </li>
                                                        <li>
                                                            <a href="/Rain/SpellReport"> Spell Report </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>*@

                                    @if (Session["UserName"].ToString() == "administrator")
                                    {
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;">
                                                <i class="icon-briefcase"></i> &nbsp;  Configuration
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">

                                                <li>
                                                    <a href="/Parameter/Index">
                                                        <i class="icon-bulb"></i> Parameters
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Template/Index">
                                                        <i class="icon-bulb"></i> Templates
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Resource/Index">
                                                        <i class="icon-bulb"></i> Resources
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;">
                                                <i class="icon-briefcase"></i> &nbsp;  Management
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-key"></i> Manage Users
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-key"></i> Manage Departments
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    @if (Session["UserName"].ToString() != "wasalhr")
                                    {
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;">
                                                <i class="icon-puzzle"></i> &nbsp;  Swithing
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li>
                                                    <a href="/Switch/SetMode">
                                                        Manage Mode
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Switch/Index">
                                                        Remote Switch
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown user-setng" style="display:none">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                                            <span>@Session["UserName"].ToString()</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-default">
                                            <li>
                                                <a href="/Account/ChangePassword">
                                                    <i class="icon-user"></i> Change Password
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Account/LogOff">
                                                    <i class="icon-calendar"></i> Log Out
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    @*<li class="dropdown dropdown-fw dropdown-fw-disabled">
                                            <a href="javascript:;" class="text-uppercase">
                                                <i class="icon-layers"></i> &nbsp;  Messages
                                            </a>
                                        </li>*@
                                </ul>
                            </div>
                            <!-- END MEGA MENU -->
                        </div>
                    </div>
                    <!-- END HEADER MENU -->
                </div>
                <!-- END HEADER -->
            </div>
        </div>
        <div class="page-content" style="margin-top:50px; padding: 15px 15px !important">
            @RenderBody()
        </div>
        <div class="page-wrapper-row">
            <div class="page-wrapper-bottom">
                <div class="page-footer">
                    <div class="container" style="text-align: center;">
                        @DateTime.Now.Year &copy; Water and Sanitation Agency, Lahore &nbsp;|&nbsp; Lahore Development Authority &nbsp;|&nbsp; Developed By:
                        <a href="http://www.imalengineering.com"> iMAL Engineering</a>
                    </div>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
                <!-- END INNER FOOTER -->
                <!-- END FOOTER -->
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="~/Metronic/assets/global/plugins/respond.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/Metronic/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Metronic/assets/global/scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    @*<script src="~/Metronic/assets/global/scripts/jquery.dataTables.min.js" type="text/javascript"></script>*@

    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>*@
    @*<script src="~/Metronic/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/jquery.dataTables.min.js"></script>
        <script  type="text/javascript" charset="utf8"  src="../Metronic/assets/global/scripts/datatables.min.js"></script>*@

    <script src="~/Metronic/assets/global/scripts/jquery.dataTables.min.js"></script>

    <script src="~/Metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="~/Metronic/assets/global/scripts/dataTables.bootstrap.min.js" type="text/javascript"></script>

    @*<script src="~/Metronic/assets/global/scripts/dataTables.buttons.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/buttons.print.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/buttons.html5.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/pdfmake.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/vfs_fonts.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/jszip.min.js" type="text/javascript"></script>*@


    @*<script src="~/Metronic/assets/global/scripts/dataTables.bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/dataTables.buttons.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/buttons.flash.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/buttons.html5.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/buttons.print.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/jszip.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/pdfmake.min.js" type="text/javascript"></script>
        <script src="~/Metronic/assets/global/scripts/vfs_fonts.js" type="text/javascript"></script>*@


    @*<script src="~/Scripts/jquery.min.js"></script>*@
    @*<script type="text/javascript" src="~/Metronic/assets/global/scripts/datatable.js"></script>
        <script type="text/javascript" src="~/Metronic/assets/global/plugins/datatables/datatables.min.js"></script>
        <script src="~/Metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@
    <script src="~/Metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Metronic/assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
    @*<script src="~/Metronic/assets/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>*@
    <script src="~/Metronic/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/Metronic/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
    <script src="~/Metronic/assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amcharts/serial.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amcharts/radar.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amcharts/pie.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amcharts/themes/chalk.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amcharts/themes/patterns.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/ammap/ammap.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amstockcharts/amcharts.js"></script>
    <script src="~/Metronic/assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>


    <script>
        function disposalWatsappToday() {
            var activeDisposals = 0;
            var disposalLocations = new Array();
            var disposalWorkingHours = new Array();
            var disposalTank1Levels = new Array();
            var disposalTank2Levels = new Array();
            var totalTime;


            $.ajax
                ({
                    type: "POST",
                    url: "../saveData.asmx/WhatsAppDisposalToday",
                    data: "{ }",

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    async: false,
                    success: function (resp) {
                        var disposalActiveCount = 0;
                        var disposalData = eval(resp.d);
                        for (i = 0; i < disposalData.length; i++) {
                            disposalLocations.push('Shaukat Khanum Disposal Station');
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump1) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump2) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump3) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump4) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump5) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump6) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump7) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump8) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump9) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump10) / 60 * 100) / 100);


                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump1);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump2);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump3);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump4);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump5);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump6);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump7);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump8);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump9);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump10);

                            totalTime = disposalData[i].TotalWorkingInHours;

                            disposalTank1Levels.push(Math.round(disposalData[i].Well1Level_Average * 100) / 100);
                            disposalTank2Levels.push(Math.round(disposalData[i].Well2Level_Average * 100) / 100);
                            if (disposalData[i].WorkingHoursPump1 +
                                disposalData[i].WorkingHoursPump2 +
                                disposalData[i].WorkingHoursPump3 +
                                disposalData[i].WorkingHoursPump4 +
                                disposalData[i].WorkingHoursPump5 +
                                disposalData[i].WorkingHoursPump6 +
                                disposalData[i].WorkingHoursPump7 +
                                disposalData[i].WorkingHoursPump8 +
                                disposalData[i].WorkingHoursPump9 +
                                disposalData[i].WorkingHoursPump10
                                > 0) {
                                disposalActiveCount++;
                            }
                        }
                        activeDisposals = disposalActiveCount;

                    },

                });
            //var totalTime = 0;
            //for (i = 0; i < disposalWorkingHours.length; i++)
            //{
            //	totalTime += disposalWorkingHours[i];
            //}
            var d = new Date();
            d.setDate(d.getDate());
            var theDate = d.toLocaleDateString('en-GB');
            newd = d.toLocaleDateString('en-029');
            d = formatDate(newd);

            function hoursToTime(num) {
                //console.log(num);
                num = num * 60;
                var hours = Math.floor(num / 60);
                var minutes = Math.round(num % 60);
                return hours + " Hours, " + minutes + " Minutes";
            }

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('/');
            }

            var timeOfToday = new Date().toLocaleTimeString();


            //alert(hoursToTime(parseFloat(tubewellWorkingHours[0])));
            //console.log(d);

            window.location.href = (
                'https://api.whatsapp.com/send?text=' + encodeURIComponent("*SUMMARY OF WASA SCADA SYSTEM AT SHOUKAT KHANUM DISPOSAL STATION TODAY (" + theDate + ") AT " + timeOfToday + "*"
                    + "\r\n\r\n" + "*DISPOSAL STATIONS:*" + "\r\n\r\n" + "-Total Disposal = 1" + "\r\n" + "-Total Running Disposal = " + activeDisposals + "\r\n" + "-Power Source = Wapda / Gen. Set "
                    + "\r\n\r\n" + "*SHAUKAT KHANUM DISPOSAL STATION:*" + "\r\n\r\n" + "*Total Motor Running Hours = " + totalTime + "*" + "\r\n\r\n"
                    + "*Motor No. 1 Running Hours = " + disposalWorkingHours[0] + " " + "\r\n"
                    + "*Motor No. 2 Running Hours = " + disposalWorkingHours[1] + " " + "\r\n"
                    + "*Motor No. 3 Running Hours = " + disposalWorkingHours[2] + " " + "\r\n"
                    + "*Motor No. 4 Running Hours = " + disposalWorkingHours[3] + " " + "\r\n"
                    + "*Motor No. 5 Running Hours = " + disposalWorkingHours[4] + " " + "\r\n"
                    + "*Motor No. 6 Running Hours = " + disposalWorkingHours[5] + " " + "\r\n"
                    + "*Motor No. 7 Running Hours = " + disposalWorkingHours[6] + " " + "\r\n"
                    + "*Motor No. 8 Running Hours = " + disposalWorkingHours[7] + " " + "\r\n"
                    + "*Motor No. 9 Running Hours = " + disposalWorkingHours[8] + " " + "\r\n"
                    + "*Motor No. 10 Running Hours = " + disposalWorkingHours[9] + " " + "\r\n\r\n"
                    + " *Average Level Tank No. 1 = " + disposalTank1Levels[0] + " (ft)" + "\r\n" + " *Average Level Tank No. 2 = " + disposalTank2Levels[0] + " (ft)" + "\r\n\r\n" +

                    "If you want to see the details of the activity, Please feel free to open the following link to reports:" +
                    "\r\n\r\n") +


                "*1) Motor Status Report of Disposal Station* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Disposals/_PumpsReportReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                "*2) Wet Well Level Report of Disposal Station* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Disposals/_WellsReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                encodeURIComponent("For further detail, please log on to http://wasalhr.ttlogix.com" + "\r\n\r\n" +
                    "*SENT USING WASA RMCS – WASA, LAHORE AUTOMATION DRIVE.* " + "\r\n")
            );

        }

    </script>

    <script>
        function disposalWatsapp() {
            var activeDisposals = 0;
            var disposalLocations = new Array();
            var disposalWorkingHours = new Array();
            var disposalTank1Levels = new Array();
            var disposalTank2Levels = new Array();
            var totalTime;


            $.ajax
                ({
                    type: "POST",
                    url: "../saveData.asmx/WhatsAppDataDisposal",
                    data: "{ }",

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    async: false,
                    success: function (resp) {
                        var disposalActiveCount = 0;
                        var disposalData = eval(resp.d);
                        for (i = 0; i < disposalData.length; i++) {
                            disposalLocations.push('Shaukat Khanum Disposal Station');
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump1) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump2) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump3) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump4) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump5) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump6) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump7) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump8) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump9) / 60 * 100) / 100);
                            //disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump10) / 60 * 100) / 100);


                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump1);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump2);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump3);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump4);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump5);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump6);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump7);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump8);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump9);
                            disposalWorkingHours.push(disposalData[i].WorkingInHoursPump10);

                            totalTime = disposalData[i].TotalWorkingInHours;

                            disposalTank1Levels.push(Math.round(disposalData[i].Well1Level_Average * 100) / 100);
                            disposalTank2Levels.push(Math.round(disposalData[i].Well2Level_Average * 100) / 100);
                            if (disposalData[i].WorkingHoursPump1 +
                                disposalData[i].WorkingHoursPump2 +
                                disposalData[i].WorkingHoursPump3 +
                                disposalData[i].WorkingHoursPump4 +
                                disposalData[i].WorkingHoursPump5 +
                                disposalData[i].WorkingHoursPump6 +
                                disposalData[i].WorkingHoursPump7 +
                                disposalData[i].WorkingHoursPump8 +
                                disposalData[i].WorkingHoursPump9 +
                                disposalData[i].WorkingHoursPump10
                                > 0) {
                                disposalActiveCount++;
                            }
                        }
                        activeDisposals = disposalActiveCount;

                    },

                });
            //var totalTime = 0;
            //for (i = 0; i < disposalWorkingHours.length; i++)
            //{
            //	totalTime += disposalWorkingHours[i];
            //}
            var d = new Date();
            d.setDate(d.getDate() - 1);
            var theDate = d.toLocaleDateString('en-GB');
            newd = d.toLocaleDateString('en-029');
            d = formatDate(newd);

            function hoursToTime(num) {
                //console.log(num);
                num = num * 60;
                var hours = Math.floor(num / 60);
                var minutes = Math.round(num % 60);
                return hours + " Hours, " + minutes + " Minutes";
            }

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('/');
            }

            var timeOfToday = new Date().toLocaleTimeString();


            alert(hoursToTime(parseFloat(tubewellWorkingHours[0])));
            //console.log(d);

            window.location.href = (
                'https://api.whatsapp.com/send?text=' + encodeURIComponent("*SUMMARY OF WASA SCADA SYSTEM AT SHOUKAT KHANUM DISPOSAL STATION ON " + theDate + " AT " + timeOfToday + "*"
                    + "\r\n\r\n" + "*DISPOSAL STATIONS:*" + "\r\n\r\n" + "-Total Disposal = 1" + "\r\n" + "-Total Running Disposal = " + activeDisposals + "\r\n" + "-Power Source = Wapda / Gen. Set "
                    + "\r\n\r\n" + "*SHAUKAT KHANUM DISPOSAL STATION:*" + "\r\n\r\n" + "*Total Motor Running Hours = " + totalTime + "*" + "\r\n\r\n"
                    + "*Motor No. 1 Running Hours = " + disposalWorkingHours[0] + " " + "\r\n"
                    + "*Motor No. 2 Running Hours = " + disposalWorkingHours[1] + " " + "\r\n"
                    + "*Motor No. 3 Running Hours = " + disposalWorkingHours[2] + " " + "\r\n"
                    + "*Motor No. 4 Running Hours = " + disposalWorkingHours[3] + " " + "\r\n"
                    + "*Motor No. 5 Running Hours = " + disposalWorkingHours[4] + " " + "\r\n"
                    + "*Motor No. 6 Running Hours = " + disposalWorkingHours[5] + " " + "\r\n"
                    + "*Motor No. 7 Running Hours = " + disposalWorkingHours[6] + " " + "\r\n"
                    + "*Motor No. 8 Running Hours = " + disposalWorkingHours[7] + " " + "\r\n"
                    + "*Motor No. 9 Running Hours = " + disposalWorkingHours[8] + " " + "\r\n"
                    + "*Motor No. 10 Running Hours = " + disposalWorkingHours[9] + " " + "\r\n\r\n"
                    + " *Average Level Tank No. 1 = " + disposalTank1Levels[0] + " (ft)" + "\r\n" + " *Average Level Tank No. 2 = " + disposalTank2Levels[0] + " (ft)" + "\r\n\r\n" +

                    "If you want to see the details of the activity, Please feel free to open the following link to reports:" +
                    "\r\n\r\n") +


                "*1) Motor Status Report of Disposal Station* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Disposals/_PumpsReportReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                "*2) Wet Well Level Report of Disposal Station* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Disposals/_WellsReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                encodeURIComponent("For further detail, please log on to http://wasalhr.ttlogix.com" + "\r\n\r\n" +
                    "*SENT USING WASA RMCS – WASA, LAHORE AUTOMATION DRIVE.* " + "\r\n")
            );

        }

    </script>



    <script>
        function openWatsapp() {
            var activeTubewells = 0;
            var activeDisposals = 0;
            var activeRecyclingPlants = 0;
            var chlorineStatus = 'Available';
            var tubewellLocations = new Array();
            var tubewellWorkingHours = new Array();
            var disposalLocations = new Array();
            var disposalWorkingHours = new Array();
            var disposalTank1Levels = new Array();
            var disposalTank2Levels = new Array();
            var recyclingLocations = new Array();
            var recylcingPump1WorkingHours = new Array();
            var recylcingPump2WorkingHours = new Array();
            var recylcingPump3WorkingHours = new Array();

            $.ajax
                ({
                    type: "POST",
                    url: "../saveData.asmx/WhatsAppDataTubewell",
                    data: "{ }",

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    async: false,
                    success: function (resp) {
                        var tubewellActiveCount = 0;
                        var tubewellData = eval(resp.d);
                        for (i = 0; i < tubewellData.length; i++) {
                            tubewellLocations.push(tubewellData[i].locationName);
                            tubewellWorkingHours.push(Math.round(tubewellData[i].WorkingInHours * 100) / 100);
                            if (tubewellData[i].WorkingInHours > 0) {
                                tubewellActiveCount++;
                            }
                        }
                        activeTubewells = tubewellActiveCount;

                    },

                });
            console.log(tubewellWorkingHours);
            $.ajax
                ({
                    type: "POST",
                    url: "../saveData.asmx/WhatsAppDataDisposal",
                    data: "{ }",

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    async: false,
                    success: function (resp) {
                        var disposalActiveCount = 0;
                        var disposalData = eval(resp.d);
                        for (i = 0; i < disposalData.length; i++) {
                            disposalLocations.push('Shaukat Khanum Disposal Station');
                            disposalWorkingHours.push(Math.round((disposalData[i].WorkingHoursPump1 +
                                disposalData[i].WorkingHoursPump2 +
                                disposalData[i].WorkingHoursPump3 +
                                disposalData[i].WorkingHoursPump4 +
                                disposalData[i].WorkingHoursPump5 +
                                disposalData[i].WorkingHoursPump6 +
                                disposalData[i].WorkingHoursPump7 +
                                disposalData[i].WorkingHoursPump8 +
                                disposalData[i].WorkingHoursPump9 +
                                disposalData[i].WorkingHoursPump10) / 60 * 100) / 100);
                            disposalTank1Levels.push(Math.round(disposalData[i].Well1Level_Average * 100) / 100);
                            disposalTank2Levels.push(Math.round(disposalData[i].Well2Level_Average * 100) / 100);
                            if (disposalData[i].WorkingHoursPump1 +
                                disposalData[i].WorkingHoursPump2 +
                                disposalData[i].WorkingHoursPump3 +
                                disposalData[i].WorkingHoursPump4 +
                                disposalData[i].WorkingHoursPump5 +
                                disposalData[i].WorkingHoursPump6 +
                                disposalData[i].WorkingHoursPump7 +
                                disposalData[i].WorkingHoursPump8 +
                                disposalData[i].WorkingHoursPump9 +
                                disposalData[i].WorkingHoursPump10
                                > 0) {
                                disposalActiveCount++;
                            }
                        }
                        activeDisposals = disposalActiveCount;

                    },

                });

            $.ajax
                ({
                    type: "POST",
                    url: "../saveData.asmx/WhatsAppDataRecyclingPlant",
                    data: "{ }",

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    async: false,
                    success: function (resp) {
                        var recyclingPlantActiveCount = 0;
                        var recyclingPlantData = eval(resp.d);
                        for (i = 0; i < recyclingPlantData.length; i++) {
                            recyclingLocations.push(recyclingPlantData[i].LocationName);
                            recylcingPump1WorkingHours.push(Math.round(recyclingPlantData[i].WorkingHoursPump1 * 100) / 100);
                            recylcingPump2WorkingHours.push(Math.round(recyclingPlantData[i].WorkingHoursPump2 * 100) / 100);
                            recylcingPump3WorkingHours.push(Math.round(recyclingPlantData[i].WorkingHoursPump3 * 100) / 100);
                            if (recyclingPlantData[i].WorkingHoursPump1 + recyclingPlantData[i].WorkingHoursPump2 > 0) {
                                recyclingPlantActiveCount++;
                            }
                        }
                        activeRecyclingPlants = recyclingPlantActiveCount;

                    },

                });

            var d = new Date();
            d.setDate(d.getDate() - 1);
            var theDate = d.toLocaleDateString('en-GB');
            newd = d.toLocaleDateString('en-029');
            d = formatDate(newd);

            function hoursToTime(num) {
                //console.log(num);
                num = num * 60;
                var hours = Math.floor(num / 60);
                var minutes = Math.round(num % 60);
                return hours + " Hours, " + minutes + " Minutes ";
            }

            function hoursToTimeRecycling(num) {
                //console.log(num);
                //num = num * 60;
                var hours = Math.floor(num / 60);
                var minutes = Math.round(num % 60);
                return hours + " Hours, " + minutes + " Minutes ";
            }

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('/');
            }


            //console.log(d);

            window.location.href = (
                'https://api.whatsapp.com/send?text=' + encodeURIComponent("*DAILY SUMMARY OF WASA SCADA SYSTEM ON " + theDate + " AT 11:59:59 PM*\r\n\r\n" + "*TUBEWELLS:*" + "\r\n" + "-Total Tubewells = 7" + "\r\n" + "-Total Running Tubewells = "
                    + activeTubewells + "\r\n" + "-Chlorine Status = Available" + "\r\n\r\n" + "*Tubewell Name and Working Hours:*"
                    + "\r\n" + "*C-II Block Tubewell = " + hoursToTime(parseFloat(tubewellWorkingHours[0]))
                    + "\r\n" + "*A-III Block Tubewell = " + hoursToTime(parseFloat(tubewellWorkingHours[1]))
                    + "\r\n" + "*D-II Block Tubewell = " + hoursToTime(parseFloat(tubewellWorkingHours[2]))
                    + "\r\n" + "*E Block Tubewell = " + hoursToTime(parseFloat(tubewellWorkingHours[3]))
                    + "\r\n" + "*Campus View Tubewell = " + hoursToTime(parseFloat(tubewellWorkingHours[4]))
                    + "\r\n" + "*F-I Block Tubewell = " + hoursToTime(parseFloat(tubewellWorkingHours[5]))
                    + "\r\n" + "*C Block Tubewell = " + hoursToTime(parseFloat(tubewellWorkingHours[6]))
                    + "\r\n\r\n" + "*DISPOSAL STATIONS:*" + "\r\n" + "-Total Disposal = 1" + "\r\n" + "-Total Running Disposal = " + activeDisposals
                    + "\r\n\r\n" + "*Shaukat Khanum Disposal Station*" + "\r\n" + "*Total Motor Running Hours = " + hoursToTime(parseFloat(disposalWorkingHours[0])) + " " + "\r\n" + " * Average Level Tank No. 1 = " + disposalTank1Levels[0] + " (ft)" + "\r\n" + " * Average Level Tank No. 2 = " + disposalTank2Levels[0] + " (ft)" + "\r\n\r\n" + "*RECYCLING PLANTS:* " + "\r\n" +
                    "-Total Recycling Plants = 2" + "\r\n" + "-Total Running Recycling Plants = " + activeRecyclingPlants + "" + "\r\n\r\n" +
                    "*Total Petrol Station Johar Town:*" + "\r\n" + "*Submercible Pump Running Hours = " + hoursToTimeRecycling(parseFloat(recylcingPump1WorkingHours[0])) + " " + "\r\n" + "*Filtered Water Pump Running Hours = " + hoursToTimeRecycling(parseFloat(recylcingPump2WorkingHours[0])) + " " +
                    "\r\n\r\n" +
                    "*Attock Petroleum Davis Road:*" + "\r\n" + "*Submercible Pump Running Hours = " + hoursToTimeRecycling(parseFloat(recylcingPump1WorkingHours[1])) + " " + "\r\n" + "*Filtered Water Pump Running Hours = " + hoursToTimeRecycling(parseFloat(recylcingPump2WorkingHours[1])) + " " +
                    "\r\n\r\n" +
                    "If you want to see the details of the whole day activity, Please feel free to open the following link to reports:" +
                    "\r\n\r\n") +

                "*1) Energy Monitoring Report* " + "\r\n" +

                encodeURIComponent('http://wasalhr.ttlogix.com/Tubewells/_EnergyMonitoringReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                "*2) Water Flow Report* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Tubewells/_WaterDischargeReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')

                + "%0A%0A" +

                "*3) Mode Status Report* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Tubewells/_RemoteStatusReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                "*4) Vibration Report* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Tubewells/_VibrationAnalysisReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                "*5) Recycling Plant Report* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/RecyclingPlant/_PumpReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +


                "*6) Motor Status Report of Disposal Station* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Disposals/_PumpsReportReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                "*7) Wet Well Level Report of Disposal Station* " + "\r\n" +
                encodeURIComponent('http://wasalhr.ttlogix.com/Disposals/_WellsReportView?resources=All&datFrom=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timFrom=12%3A00%20AM&datTo=') +
                encodeURIComponent(d) +
                encodeURIComponent('&timTo=12%3A00%20AM')
                + "%0A%0A" +

                encodeURIComponent("For further detail, please log on to http://wasalhr.ttlogix.com" + "\r\n\r\n" +
                    "*SENT USING WASA RMCS – WASA, LAHORE AUTOMATION DRIVE.* " + "\r\n")
            );

            // Yahan per text add kar do jo sender karna hai

        }

    </script>

    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- START OF SIGNALR SCRIPTS -->
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    @*<script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>*@
    @*<script type="text/javascript">
                $(document).ready(function () {
                    setInterval(function () {
                        $.getJSON('/Home/GetNotifications/', function (data) {
                            var parsedObj = $.parseJSON(data);
                            console.log(parsedObj);
                        })
                    ,10000});
                });
                //setInterval("$('#DashboardDiagram').load('_DashboardView') ", 2000);
                //var refreshId = setInterval(function () {
                //    var properID = $('#WelcomeDiv').load('_Welcome');
                //    if (properID > 0) {
                //        clearInterval(refreshId);
                //    }
                //}, 10000);
        //},  200000);
            </script>*@
    <script type="text/javascript">

        var refreshId = setInterval(function () {
            var properID = $(function () {
                updateNotificationCount();
                $('span.noti').click(function (e) {
                    //console.log("call");
                    e.stopPropagation();
                    $('span.noti').css("color", "cornflowerblue");
                    $('span.count').show();
                    $('.noti-content').show();
                    var count = 0;
                    count = parseInt($('span.count').html()) || 0;
                    count++;
                    if (count > 0) {
                        updateNotification();
                    }
                    updateSession();
                    updateNotificationCount();
                    //$('span.count', this).html(' ');
                })
                $('html').click(function () {
                    $('.noti-content').hide();
                })
                function updateNotification() {
                    $('#notiContent').empty();
                    $('#notiContent').append($('<li>Loading...</li>'));
                    $.ajax({
                        type: 'GET',
                        url: '/home/GetNotifications',
                        success: function (response) {
                            $('#notiContent').empty();
                            if (response.length == 0) {
                                $('#notiContent').append($('<li>Currently You Have No New Notifications.</li>'));
                            }
                            $.each(response, function (index, value) {

                                $('#notiContent').append($('<li>  ' + value.Comment + ' </li>'));
                            });
                            $('#notiContent').append($('<li><a href="/Home/Notifications">See All Notifications...</a></li>'));
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
                function updateSession() {
                    $.ajax({
                        url: '/home/UpdateSession',
                        success: function () {
                            console.log('Updated Session');
                        }
                    });
                }
                function updateNotificationCount() {
                    //alert('alert call');
                    $('span.count').show();
                    var count = 0;
                    $.ajax({
                        type: 'GET',
                        url: '/home/GetNotificationsCount',
                        success: function (response) {
                            //alert(response);
                            count = response;
                            //console.log(count);
                            if (count > 0) {
                                //alert(response);
                                //$('span.count').html(count);
                                //$('span.noti').css("color", "white");
                                //$('span.count').css({ "background-color": "red", "color": "white" });
                                $('span.count').show();
                                $('span.count').html(count);
                            }
                            else {
                                $('span.count').hide();
                            }
                        }
                    })
                    //count = parseInt($('span.count').html()) || 0;
                    //count++;
                    //$('span.noti').css("color", "white");
                    //$('span.count').css({ "background-color": "red", "color": "white" });
                    //$('span.count').html(count);

                }
                //var notificationHub = $.connection.notificationHub;
                //$.connection.hub.start().done(function () {
                //    updateNotification();
                //    updateNotificationCount();
                //    console.log('Notification hub started');
                //});
                //notificationHub.client.notify = function (message) {
                //    alert('notify here');
                //    if (message && message.toLowerCase() == "added") {
                //        updateNotificationCount();
                //    }
                //}
            });
            if (properID > 0) {
                clearInterval(refreshId);
            }
        }, 20000);
    </script>





    <script>
        $(document).ready(function () {
            var Dashboard = function () {

                return {

                    initAmChart1: function () {
                        if ("undefined" != typeof AmCharts) {


                            var disposalChartData;
                            var eArray = [];
                            var pondingArr = [];
                            $.getJSON('/Ponding/LoadPondingChartData/', function (data) {
                                //alert(data);
                                //console.log(data);
                                var parsedObj = $.parseJSON(data);
                                //console.log(data);
                                $.each(parsedObj, function (key, obj) {
                                    var colr = "";
                                    var thePonding = 0;
                                    if (obj.DeltaMinutes > -520) {
                                        colr = "#08a3cc";
                                        thePonding = 0;
                                    }
                                    else {
                                        var maxThreshold = data.maxThrs;
                                        if (maxThreshold == "") {
                                            maxThreshold = 10;
                                        }
                                        thePonding = Math.round((obj.ponding / 2.54), 1);
                                        if (thePonding < maxThreshold) {
                                            colr = "#00ff00";
                                        }
                                        else {
                                            colr = "#ff0000";
                                        }
                                    }
                                    var eObj = {
                                        category: obj.category,
                                        ponding: thePonding,
                                        townName: obj.townName,
                                        townName2: obj.townName2,
                                        collr: colr
                                    };
                                    eArray.push(eObj);
                                    pondingArr.push(obj.ponding);
                                });
                                var e = eArray;
                                AmCharts.makeChart("dashboard_amchart_1", {
                                    type: "serial",
                                    fontSize: 12,
                                    fontFamily: "Open Sans",
                                    dataDateFormat: "YYYY-MM-DD JJ:NN:SS",
                                    dataProvider: e,
                                    addClassNames: !0,
                                    startDuration: 1,
                                    color: "#6c7b88",
                                    marginLeft: 0,
                                    categoryField: "category",
                                    categoryAxis: {
                                        equalSpacing: false,
                                        labelRotation: 60,
                                        autoGridCount: !1,
                                        gridCount: 50,
                                        gridAlpha: .1,
                                        gridColor: "#FFFFFF",
                                        axisColor: "#555555",
                                    },
                                    valueAxes: [{
                                        id: "a1",
                                        title: "Water Level at Each Ponding Location",
                                        gridAlpha: 0,
                                        axisAlpha: 0
                                    },],
                                    graphs: [{
                                        id: "g1",
                                        valueField: "ponding",
                                        title: "Water Level",
                                        type: "column",
                                        "topRadius": 1,
                                        fillAlphas: .7,
                                        valueAxis: "a1",
                                        balloonText: "[[value]] inch",
                                        //legendValueText: "[[value]] inch",
                                        legendValueText: "[[category]] : [[value]] inch Ponding",
                                        //legendPeriodValueText: "Average: [[value.average]] inch",
                                        lineColor: "collr",
                                        alphaField: "alpha",
                                        colorField: "collr",
                                        fillColors: "collr"
                                    },
                                    ],
                                    "depth3D": 40,
                                    "angle": 30,
                                    "chartCursor": {
                                        "categoryBalloonEnabled": false,
                                        "cursorAlpha": 0,
                                        "zoomable": false
                                    },
                                    chartCursor: {
                                        zoomable: !1,
                                        categoryBalloonDateFormat: "YYYY-MM-DD JJ:NN:SS",
                                        cursorAlpha: 0,
                                        categoryBalloonColor: "#e26a6a",
                                        categoryBalloonAlpha: .8,
                                        valueBalloonsEnabled: !1
                                    },
                                    legend: {
                                        bulletType: "round",
                                        equalWidths: !1,
                                        valueWidth: 120,
                                        useGraphSettings: !0,
                                        color: "#6c7b88"
                                    }
                                })
                            });

                        }
                    },

                    initAmChart2: function () {
                        if ("undefined" != typeof AmCharts) {


                            var disposalChartData;
                            var eArray = [];
                            var pondingArr = [];
                            $.getJSON('/Rain/LoadRainChartData/', function (data) {
                                var parsedObj = $.parseJSON(data);
                                //alert(data);
                                $.each(parsedObj, function (key, obj) {
                                    var colr = "";
                                    if (obj.ponding < 3) {
                                        colr = "#08a3cc";
                                    }
                                    else {
                                        colr = "#ff0000";
                                    }
                                    var eObj = {
                                        category: obj.category,
                                        ponding: obj.ponding,
                                        townName: obj.townName,
                                        townName2: obj.townName2,
                                        collr: colr
                                    };
                                    eArray.push(eObj);
                                    pondingArr.push(obj.ponding);
                                });
                                var e = eArray;
                                AmCharts.makeChart("dashboard_amchart_2", {
                                    type: "serial",
                                    fontSize: 12,
                                    fontFamily: "Open Sans",
                                    dataDateFormat: "YYYY-MM-DD JJ:NN:SS",
                                    dataProvider: e,
                                    addClassNames: !0,
                                    startDuration: 1,
                                    color: "#6c7b88",
                                    marginLeft: 0,
                                    categoryField: "category",
                                    categoryAxis: {
                                        equalSpacing: false,
                                        labelRotation: 40,
                                        autoGridCount: !1,
                                        gridCount: 50,
                                        gridAlpha: .1,
                                        gridColor: "#FFFFFF",
                                        axisColor: "#555555",
                                    },
                                    valueAxes: [{
                                        id: "a1",
                                        title: "Rain Intensity By Each Rain Gauge",
                                        gridAlpha: 0,
                                        axisAlpha: 0
                                    },],
                                    graphs: [{
                                        id: "g1",
                                        valueField: "ponding",
                                        title: "Rain Intensity",
                                        type: "column",
                                        "topRadius": 1,
                                        fillAlphas: .7,
                                        valueAxis: "a1",
                                        balloonText: "[[value]] mm",
                                        legendValueText: "[[category]] : [[value]] mm Rain",
                                        legendPeriodValueText: "Average: [[value.average]] mm",
                                        lineColor: "collr",
                                        alphaField: "alpha",
                                        colorField: "collr",
                                        fillColors: "collr"
                                    }
                                    ],
                                    "depth3D": 40,
                                    "angle": 30,
                                    "chartCursor": {
                                        "categoryBalloonEnabled": false,
                                        "cursorAlpha": 0,
                                        "zoomable": false
                                    },
                                    chartCursor: {
                                        zoomable: !1,
                                        categoryBalloonDateFormat: "YYYY-MM-DD JJ:NN:SS",
                                        cursorAlpha: 0,
                                        categoryBalloonColor: "#e26a6a",
                                        categoryBalloonAlpha: .8,
                                        valueBalloonsEnabled: !1
                                    },
                                    legend: {
                                        bulletType: "round",
                                        equalWidths: !1,
                                        valueWidth: 120,
                                        useGraphSettings: !0,
                                        color: "#6c7b88"
                                    }
                                })
                            });

                        }
                    },

                    initAmChart5: function () {
                        if ("undefined" != typeof AmCharts) {


                            var disposalChartData;
                            var eArray = [];
                            var pondingArr = [];
                            $.getJSON('/StorageTank/LoadStorageChartData/', function (data) {
                                //console.log(data);
                                var parsedObj = $.parseJSON(data);
                                //console.log(data);
                                $.each(parsedObj, function (key, obj) {
                                    var colr = "#00ff00";

                                    var eObj = {
                                        category: obj.category,
                                        pName: 'Tank Level',
                                        ponding: obj.ponding,
                                        collr: colr
                                    };
                                    eArray.push(eObj);
                                    pondingArr.push(obj.ponding);
                                });
                                var e = eArray;
                                AmCharts.makeChart("dashboard_amchart_5", {
                                    type: "serial",
                                    fontSize: 12,
                                    fontFamily: "Open Sans",
                                    dataDateFormat: "YYYY-MM-DD JJ:NN:SS",
                                    dataProvider: e,
                                    addClassNames: !0,
                                    startDuration: 1,
                                    color: "#6c7b88",
                                    marginLeft: 0,
                                    categoryField: "category",
                                    categoryAxis: {
                                        equalSpacing: false,
                                        labelRotation: 60,
                                        autoGridCount: !1,
                                        gridCount: 50,
                                        gridAlpha: .1,
                                        gridColor: "#FFFFFF",
                                        axisColor: "#555555",
                                    },
                                    valueAxes: [{
                                        id: "a1",
                                        title: "Storage Tanks Well Level",
                                        gridAlpha: 0,
                                        axisAlpha: 0
                                    },],
                                    graphs: [{
                                        id: "g1",
                                        valueField: "ponding",
                                        //title: "Value",
                                        type: "column",
                                        "topRadius": 1,
                                        fillAlphas: .7,
                                        valueAxis: "a1",
                                        balloonText: "[[value]] ft",
                                        //legendValueText: "[[value]] inch",
                                        legendValueText: "Tank Level ",
                                        //legendPeriodValueText: "Average: [[value.average]] inch",
                                        lineColor: "collr",
                                        alphaField: "alpha",
                                        colorField: "collr",
                                        fillColors: "collr"
                                    },
                                    ],
                                    "depth3D": 40,
                                    "angle": 30,
                                    "chartCursor": {
                                        "categoryBalloonEnabled": false,
                                        "cursorAlpha": 0,
                                        "zoomable": false
                                    },
                                    chartCursor: {
                                        zoomable: !1,
                                        categoryBalloonDateFormat: "YYYY-MM-DD JJ:NN:SS",
                                        cursorAlpha: 0,
                                        categoryBalloonColor: "#e26a6a",
                                        categoryBalloonAlpha: .8,
                                        valueBalloonsEnabled: !1
                                    }
                                })
                            });

                        }
                    },



                    init: function () {

                        this.initAmChart1();
                        this.initAmChart2();
                        this.initAmChart5();
                    }
                };

            }();

            if (App.isAngularJsApp() === false) {
                jQuery(document).ready(function () {
                    Dashboard.init(); // init metronic core componets
                });
            }
        });

    </script>


    <!--  END OF SIGNALR SCRIPTS  -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>





    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlT_-WIkJ_8eKmEGZZFOGzugRIHjviICI" async defer></script>*@

</body>
}
</html>